.background    { background: rgb(62, 12, 141);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(160, 0, 104); }
.wall          { background: rgb(134, 92, 200); }

.actor  { position: absolute;  }
.coin   { background: rgb(255, 229, 11); }
.more   { background: rgb(251, 11, 23); }
.less   { background: rgb(67, 215, 52); }
.jump   { background: rgb(110, 154, 1);}
.player { background: rgb(240, 240, 240); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
